<section class="books">
    <div id="book-list">
        <mat-card *ngFor="let book of books" class="book-entry" [style.flex-basis]="'calc(98% /'+ column +')'">
            <mat-card-header>
                <mat-card-title style="font-size: 16px; color: #9C27B0;">{{ book.title }}</mat-card-title>
                <mat-card-subtitle>Published: {{ book.PublishDate }}</mat-card-subtitle>
            </mat-card-header>
            <img mat-card-image src="{{ book.imageUrl }}" alt="{{ book.title }} Image">
            <mat-card-content>
                <div style="text-transform: uppercase; color: red;" *ngIf="bookResponse">
                    {{bookResponse.author }}
                </div>
                <div>
                    {{bookResponse.birthPlace }}
                </div>
                <div>
                    {{bookResponse.birthday }}
                </div>
            </mat-card-content>
            <mat-card-actions>
                <div>
                    <button mat-button color="warn" (click)="remove.emit(book)"><mat-icon>delete</mat-icon></button>
                </div>
                <div>
                    <button mat-button color="accent" (click)="purchase.emit(book)">Buy</button>
                    <button mat-button color="primary" (click)="purchase.emit(book)">More Info</button>
                </div>
            </mat-card-actions>
        </mat-card>
    </div>
</section>