#book-list {
  display: flex;
  flex-wrap: wrap;
  row-gap: 25px;
  column-gap: 0.5%;
  justify-content: center;
  align-items: center;
}

.book-entry {
  flex-basis: 17%;
  &:hover {
    color: #9c27b0;
  }
  .mat-mdc-card-content {
    margin: 1em;
  }
  .mat-mdc-card-actions {
    justify-content: space-between;
  }
}

.book-entry img {
  width: 290px;
  height: auto;
  min-height: 443px;
  margin: 0 auto;
}

@media only screen and (max-width: 767px) {
  #book-list.two-columns .book-entry {
    justify-content: flex-start;
  }

  .book-entry img {
    margin-right: 0;
    margin-bottom: 10px;
  }
}
