.books {
    .actions {
        display: flex;
        justify-content: space-around;
        align-items: center;
    }
    .selection {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      margin: 1em;
      flex-basis: 14%;
      h2 {
        border-bottom: 2px solid #c373cde8;
      }
    }
    .columns {
      flex-basis: 14%;
    }
}
.success {
  background-color: #4caf50; /* Green color for success */
  color: #ffffff; /* White text color */
}
.warn {
  background-color: red; /* Green color for success */
  color: #ffffff; /* White text color */
  
}
