.books {
    .actions {
        display: flex;
        justify-content: space-around;
        align-items: center;
    }
    .selection {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      margin: 1em;
      flex-basis: 14%;
      h2 {
        border-bottom: 2px solid #c373cde8;
      }
    }
    .columns {
      flex-basis: 14%;
    }
    @media only screen and (max-width: 1024px) {
      .columns {
        display: none;
      }
      .selection {
        flex-basis: unset;
      }
      .new {
        order: 2;
      }
      .actions {
        flex-direction: column;
      }
    }
}

