<h2 mat-dialog-title>Book Details</h2>
<div mat-dialog-content>
    <div class="preview" *ngIf="imageFile">
        <img mat-card-image src="{{ imageFile }}" alt="{{ title }} Image">
    </div>
    <input type="file" (change)="onFileSelected($event)" accept="image/*">
    <div class="fields">
        <!-- <mat-form-field appearance="outline">
            <input matInput [(ngModel)]="author" placeholder="Author" required>
        </mat-form-field>
        <mat-form-field appearance="outline">
            <input matInput [(ngModel)]="birthday" placeholder="Birthday" required>
        </mat-form-field>
        <mat-form-field appearance="outline">
            <input matInput [(ngModel)]="birthPlace" placeholder="Birth place" required>
        </mat-form-field> -->
        <mat-form-field appearance="outline">
            <mat-label>Publish date</mat-label>
            <input matInput [(ngModel)]="publishDate" placeholder="Publish Date" required>
        </mat-form-field>
        <mat-form-field appearance="outline">
            <mat-label>Purchase link</mat-label>
            <input matInput [(ngModel)]="purchaseLink" placeholder="Purchase Link" required>
        </mat-form-field>
        <mat-form-field appearance="outline">
            <mat-label>Title</mat-label>
            <input matInput [(ngModel)]="title" placeholder="Title" required>
        </mat-form-field>
    </div>
</div>
<div mat-dialog-actions style="justify-content: flex-end;">
    <button mat-button color="accent" [disabled]="!validateForm()" (click)="addBook()">{{!isEdit ? 'Add Book' : 'Edit Book'}}</button>
</div>