.fields {
    display: flex;
    justify-content: space-between;
    align-items: center;
    column-gap: 1%;
    margin-top: 1em;
}

@media only screen and (max-width: 1024px) {
    .fields {
        flex-direction: column;
    }
}